@media (max-width: 1920px){
	.container {
/*    	max-width: 1290px;*/
	}
}
@media (max-width: 991.98px){
  #mainNav,
  nav,
  header,
  section{display: none}
  body{position: absolute; top: 0; bottom: 0; left: 0; right: 0;  background: #f1f1f1; color: #f00; display: flex; align-items: center; justify-content: center;}
  .infomaition{display: block!important; margin-bottom: 100px;}
}
@media (min-width: 1280px){
  #mainNav .navbar-nav .nav-item .nav-link { padding: 1.1em 1em !important;}
  #mainNav .navbar-nav .nav-item.lang .nav-link {padding: 1.1em 0em !important;}
}
.infomaition{display: none}
img,span,a,strong{display: inline-block; text-decoration: none !important; }
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
.nav-item{margin: 0 10px;}
.nav-item.lang{margin-left: 20px; margin-right: 0;}
.btn-intro {background: #fff; color: #4e77ed; font-size: 1.8rem; font-weight: 400; box-shadow: 0 10px 10px rgba(6, 22, 56, .1); padding: 10px 30px !important; border-radius: 2rem;}
.fixed-top{top: 48px;}
.sns-bar{ background-color: #3864eb; z-index: 1030; color: #fff; font-size: .9rem;}
.sns-bar .container{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  /*padding: 13px 0;*/
  overflow: hidden;
}
.navbar-nav{margin-top: 5px;}
.navbar-nav .lang{}
.navbar-nav .lang img{margin-top: -8px; margin-right: 0;}
.sns-bar .container a{color: #fff; margin-top: 0px;}
.sns-bar .container a,
.sns-bar .container img,
.sns-bar .container span{vertical-align: middle;}
.mr-auto{margin-right: auto;}
.ml-auto{margin-left: : auto;}

.mt-3 {margin-top:  3px !important}
.mt-10{margin-top: 10px !important}

.mb-10{margin-bottom: 10px !important}
.mb-20{margin-bottom: 20px !important}
.mb-30{margin-bottom: 30px !important}

.ml-05{margin-left:  5px !important}
.ml-10{margin-left: 10px !important}
.ml-15{margin-left: 15px !important}
.ml-20{margin-left: 20px !important}
.ml-30{margin-left: 30px !important}
.ml-40{margin-left: 40px !important}
.ml-50{margin-left: 50px !important}

.mr-10{margin-right: 10px !important}
.mr-20{margin-right: 20px !important}
.mr-30{margin-right: 30px !important}
.mr-40{margin-right: 40px !important}

.mt-05{margin-top: 5px !important}
.mt-10{margin-top: 10px !important}
.mt-15{margin-top: 15px !important}
.mt-20{margin-top: 20px !important}
.mt-30{margin-top: 30px !important}
.mt-40{margin-top: 40px !important}
.mt-50{margin-top: 50px !important}

.pd-10{padding: 10px !important}
.pd-20{padding: 20px !important}

.w-100{width: 100px !important}
.w-150{width: 150px !important}
.w-200{width: 200px !important}

.br-b{border-bottom: 1px solid #ededed;}
.br-l{border-left: 1px solid #ededed;}

.read-more{display: inline-block; border-bottom: 2px solid #6e7d84; color: #9aa2a5; padding: 0 2px; height: 23px; margin-right: 10px;}
.read-more:hover{display: inline-block; border-bottom: 1px solid #3864eb; color: #3864eb; }
.sub-main-title{ color: #2a7eea; font-size: 1.25rem; font-weight: 400; margin: 25px 0 15px;}
.f-one{flex: 1}
.d-ib{display: inline-block !important;}
.show{display: block !important;}
.hide{display: none !important;}
.vm{vertical-align: middle !important;}
.vt{vertical-align: top !important;}
.vb{vertical-align: bottom !important;}
.main-input{
    border-radius: 20px;
    height: 40px;
    border: 1px solid #ccc;
    margin-right: 25px;
    padding: 0 20px;
    width: 245px;
    line-height: 39px;
    color: #ccc;
    font-size: .9rem;
}
.main-input.select{width: 350px;}
.main-button{border: none; background: #3864eb; color: #fff; border-radius: 20px; height: 40px; padding: 0 30px; display: block;}
select {
  width: 200px;
  padding: .8em .5em;
  font-family: inherit;
  background: url('img/arrow.png') no-repeat 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  border-radius: 0px;
}

select::-ms-expand {
  /* for IE 11 */
  display: none;
}

.card-news > .card{margin-top: 20px!important;}
.card-news > .card.first-child{margin-top: 40px!important;}

.ceo-pic{background: #f1f1f1; width: 334px; height: 400px; overflow: hidden; border-radius: 5px; text-align: center;}
.ceo-pic + h4{color: #000; font-weight: 100; margin-top: 20px; font-family: 'Noto Sans', 'Noto Sans KR',sans-serif; opacity: }
.title{
	font-family: 'Noto Sans', 'Noto Sans KR',sans-serif;
    font-weight: 200;
    color: #000;}
.discription {opacity: .8; font-size: 0.83rem; font-weight: 100;}




